/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html {
	scroll-behavior: smooth;
}
p  { color: #42413d}
h1 { color: #274957}
h2 { color: #274957}
h3 { color: #274957}
h4 { color: #274957}
h5 { color: #42413d}
ul { color: #703f7e; font-size: 18px !important;font-weight: bold}
li { color: #703f7e; margin-left: 5%;}
hr { border: solid #5D5747;}
hr.header {border: solid #324b5b }

.background-black {background: black;}
.background-navy {background: #547b93;}
.background-light {background: #E2DED5;}
.background-normal {background: #CBC8C0;}
.background-logo {
   background: url("/images/background.png") no-repeat center center;
   -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
   background-size: cover;
   background-color:#b7b8b2
}
.background-logo-fixed {
   background: url("/images/background.png") no-repeat center center fixed;
   -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
   background-size: cover;
   background-color:#b7b8b2
}
.full-width {
   width: 100%;
   padding: 0px 0px 0px 0px;
}
.two-third-width {
   max-width: 70%;
}
.no-top-margin {
   margin-top: 0px;
}
.no-bottom-margin {
   margin-bottom: 0px;
}
.bg {
	background: #CBC8C0;
}
/*estilo propio*/
.center{
    text-align: center;
}
@media only screen and (max-width: 767px) { 
   .center-vertical {text-align: center;}
   .two-third-width { max-width: 50%;}
}


.intro{
    margin-top: 0;
    margin-bottom: 0;
}
.nav-bar { background: #547b93; width:fit-content; width:-moz-fit-content; display:table; margin-left: auto; margin-right: auto; margin-top: 0px;}
.nav-bar > li {border-color: #000000 #000000 #000000 #000000;}
.nav-bar > li:first-child { border-color: #000000 #000000 #000000 #000000;}
.nav-bar > li:last-child {  border-color: #000000 #000000 #000000 #000000;}
.nav-bar > li.active { background: #3D5565; border-color: #222F38; }
.nav-bar > li.active:hover { background: #999999;}
.nav-bar > li:hover { background: #bbbbbb; }
.nav-bar > li a { color: #e6e6e6; }
.nav-bar > li.has-flyout > a:first-child:after {border-color: #000000 #000000 #000000 #000000;}
.nav-bar.vertical > li.has-flyout > a:first-child:after { border-color: #000000 #000000 #000000 #000000; }

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */

